<%= form_for restaurant do |f| %>
  <tr>
    <td><%= f.text_field :title %></td>
    <td><%= f.text_field :address %></td>
    <td><%= f.text_field :url %></td>
    <td><%= f.submit %></td>
  </tr>
<% end %>  